.about-section {
  padding: 60px 0;
  overflow: hidden;
}

.about-section h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
  margin-bottom: 1rem;
  text-align: start;
}

.about-section ul {
  list-style: none;
  padding: 0;
}

.about-section .row {
  text-align: start;
}

.about-section li {
  padding-bottom: 10px;
}

.fa-chevron-right {
  font-size: 1rem;
  padding-right: 2px;
  color: #0563bb;
}

@media (min-width: 992px) {
  .about-section img {
    max-height: 315px;
    margin-right: 0;
    margin-left: auto;
    display: block;
  }
}
